<table class="table">
  <tr>
    <td class="col-md-2">
     TODO
    </td>
    <td class="col-md-2">{{product.name}}</td>
    <td class="col-md-4"><input #input width="80px" type="number" min="0" [(value)]="product.quantity" (change)="onQualityChange(input.value)"></td>
    <td class="col-md-2">{{cost | currency: 'USD': 'symbol'}}</td>
    <td><button type="submit" class="btn btn-danger" (click)="removeFromCart()">
          <span class="glyphicon glyphicon-trash" ></span>
        </button>
    </td>
  </tr>
</table>